@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./fonts/Gilroy/Gilroy-Light.otf) format('opentype');
}


body {
  margin: 0;
  font-family: Gilroy;
}

.main-container {
  display: grid;
  grid-template-columns: 5% 95%;
  height: 100vh;
}

.left-container {
  background-color: #373b53;
}

.right-container {
  background-color: #dfe1eb;
  padding: 40px;
}

.heading {
  margin-top: 40px;
  margin-left: 20px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
}

.logo {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 70px;
    background-color: #6F52ED;
}

.sub-heading {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #A6ACBE;
  margin-left: 20px;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user-personal-details {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.user-name {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #000000;
}

.user-designation {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #A6ACBE;
}

